@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	color: #fff;
	padding: 10px;
	margin: auto;
	width: 300px;
	height: 100%;
	border: 1px solid #333;
	background: #0B3142;
}
h1 {
	color: #D6D3F0;
}
button {
	padding: 5px;
	margin-top: 10px;
}
/*remove input field arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input {
	width: 70%;
	text-align: right;
}

hr {
	color: #C6B9CD;
}
h3 {
	color: #C6B9CD;
}